.git
.github
.vercel

node_modules

.env
.env.*
vendor

public/hot
public/storage
public/build

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

tests
phpunit.xml

README.md

.idea
.vscode
.DS_Store
Thumbs.db
