.git
.github
.vercel

node_modules
vendor

.env
.env.*

public/hot
public/storage
public/build

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

tests
phpunit.xml
README.md
